body {
  background-color: #f5f5f5;
}

#body-container {
  border:2px solid #b8b8b8;
  background-color: #ffffff;
  border-radius: 25px;
  padding: 20px;
  margin: 0 10%;
}

#intro-container {
  background-color: #ebebeb;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 20px;
}

img {
  float: left;
}

h1 {
  text-align: right;
  font-family: "Arial Black", Gadget, sans-serif;
}

.contact-info {
  text-align: right;
  font-family: Arial, Helvetica, sans-serif;
}
  
.contact-info li {
  display: inline-block;
}

.contact-info li:before {
  content: "\0020";
}

.contact-info li:after { 
  content: "\0025cf" "\0020";  
}

.contact-info li:last-child:after { 
  content: none; 
}

p li {
  font-family: Arial, Helvetica, sans-serif;
}

.date {
  float: right;
}

.section-title {
  border-top: 1px solid #b8b8b8;
  font-family: "Arial Black", Gadget, sans-serif;
}

.company-date {
  font-family: Arial, Helvetica, sans-serif;
}

.job-title {
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0 -10px 0;
}

