#body-container {
  border:2px solid #bdbdbd;
  border-radius: 25px;
  margin: 100px;
  padding: 50px;
}

#intro-container {
  background-color: #f0f0f0;
  border-radius: 25px;
  padding: 10px;
}

h1 {
  text-align: right;
}

.contact-info {
  text-align: right;
}
  
.contact-info li {
  display: inline-block;
}

.contact-info li:before {
  content: "\0020";
}

.contact-info li:after { 
  content: "\0025cf" "\0020";  
}

.contact-info li:last-child:after { 
  content: none; 
}

.date {
  float: right;
  position: absolute;
}

.section-title {
  margin-top: 10px;
  margin-bottom: -10px;
  border-top: 1px solid #bdbdbd;
}

.company {
  margin-top: -20px;
}
