p {
  color: red;
}

#section-title {
  color: blue;
}

#contact-info li {
  display: inline-block;
}

#contact-info li:after { 
  content: " &#9679"; 
}

#contact-info li:last-child:after { 
  content: none; 
}
